<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index.html</title>
<link rel="stylesheet" href="/static/css/bootstrap.css" />
</head>
<body>
<div class="container">
	<h3>인덱스 페이지 입니다.</h3>
	<ul>
		<li><a href="/fortune/">오늘의 운세 보기</a></li>
		<li><a href="/detail/?num=1">자세히 보기</a></li>
		<li><a href="/memo/hello/">memo hello 요청</a></li>
		<li><a href="/memo/list/">memo 목록 보기</a></li>
		<li><a href="/member/list/">회원 목록 보기</a></li>
		<li><a href="/pages/">page 테스트</a></li>
		<li><a href="{% url 'home' %}">page 테스트</a></li>
		<li><a href="{% url 'about' %}">page 테스트2</a></li>
		<li><a href="{% url 'contact' %}">page 테스트3</a></li>
		<li><a href="{% url 'notice' %}">오늘의 공지사항</a></li>
		<li><a href="{% url 'blog_home' %}">Blog 로 가기</a></li>
	</ul>
	<p>csrf_token: <strong>{{csrf_token}}</strong></p>
	<form action="/login/" method="post">
		<input type="hidden" name="csrfmiddlewaretoken"
		 	value="{{csrf_token}}" />
		{% csrf_token %}
		<label for="id">아이디</label>
		<input type="text" name="id" id="id"/>
		<label for="pwd">비밀번호</label>
		<input type="password" name="pwd" id="pwd"/>
		<button type="submit">로그인</button>
	</form>
</div>
</body>
</html>










