<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>memo/list.html</title>
<link rel="stylesheet" href="/static/css/bootstrap.css" />
</head>
<body>
<div class="container">
	<h3>메모 목록입니다.</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>번호</th>
				<th>내용</th>
				<th>등록일</th>
			</tr>
		</thead>
		<tbody>
		{% for item in memoList %}
			<tr>
				<td>{{item.id}}</td>
				<td>{{item.content}}</td>
				<td>{{item.regdate}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</body>
</html>









